.grid{
	border: solid;
	display: flex;
	flex-flow: wrap;
	height: 450px;
	width: 450px;		
}
.grid div{
	height: 148px;
	width: 148px;
}
.player-one{
	background-image: url(./x.png);
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	width: 90%;
	height: 90%;
}
.player-two{
	background-image: url(./0.png);
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	width: 90%;
	height: 90%;
}

.line {
	border: 1px solid
}
